/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

/* FAQ Section */
.faq-section {
  width: 60%;
}

.faq-title {
  font-size: 24px;
  letter-spacing: 2px;
  color: #4e9459;
  text-align: center;
  margin-bottom: 30px;
}

.faq {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #959595;
  font-weight: bold;
}

.arrow {
  width: 20px;
  height: 20px;
  border-right: 3px solid #959595;
  border-bottom: 3px solid #959595;
  display: inline-block;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.answer {
  display: none;
  font-size: 14px;
  color: #959595;
  margin-top: 10px;
}

.show-more {
  display: block;
  margin-top: 20px;
  text-align: left;
  color: #959595;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

/* Contact Section */
.contact-section {
  width: 35%;
  text-align: center;
}

.contact-title {
  font-size: 54px;
  font-weight: normal;
  margin-bottom: 10px;
}

.contact-title br {
  display: block;
}

.contact-section p {
  font-size: 20px;
  color: #4e9459;
  margin-bottom: 20px;
}

.contact-btn {
  background-color: #4e9459;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #3b7b44;
}

.contact-arrow {
  margin-top: 0px;
  top: 221px;
  left: 1215px;
  width: 100px;
}
